.main-header {
  height: 100px;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-family: "Chakra Petch";
  position: relative;
}
.main-header__title {
  cursor: default;
}
.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main-header__navigation-list-btn {
  background-clip: text;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
.main-header__navigation-list-btn:hover {
  color: var(--secondary-color);
}

.main-header__mobile-menu-open-btn {
  display: none;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  transition: all 0.3s ease-in-out;
}
.main-header__mobile-menu-open-btn > div {
  width: 50px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--main-text-color);
  transition: all 0.2s ease-in-out;
}
.main-header__mobile-menu-open-btn:hover > div {
  background-color: var(--secondary-color);
}
.main-header__mobile-menu-open-btn:hover > div:nth-child(1) {
  width: 30px;
  transform: translateX(5px) translateY(3px) rotate(45deg);
}
.main-header__mobile-menu-open-btn:hover > div:nth-child(2) {
  width: 60px;
}
.main-header__mobile-menu-open-btn:hover > div:nth-child(3) {
  width: 30px;
  transform: translateX(5px) translateY(-3px) rotate(-45deg);
}

.main-header__mobile-menu-open-btn--active > div {
  background-color: var(--secondary-color);
}
.main-header__mobile-menu-open-btn--active > div:nth-child(1) {
  width: 30px;
  transform: translateX(5px) translateY(3px) rotate(45deg);
}
.main-header__mobile-menu-open-btn--active > div:nth-child(2) {
  width: 60px;
}
.main-header__mobile-menu-open-btn--active > div:nth-child(3) {
  width: 30px;
  transform: translateX(5px) translateY(-3px) rotate(-45deg);
}

.main-header__mobile-menu-open-btn--active-slide {
  transform: translateX(200%);
}

@media screen and (max-width: 880px) {
  .main-header__title {
    font-size: 26px;
  }
  .main-header__mobile-menu-open-btn {
    display: flex;
  }
  .main-header__navigation {
    display: none;
  }
}
